<h1>Listing songs</h1>

<table>
  <tr>
    <th>Artist name</th>
    <th>Track title</th>
    <th>Uid</th>
    <th>Username</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<!--   <%= @songs %>
 -->  <%= @client %>
<!--  <%= ap @track %>
 -->  
<%= @stream_url%> 
 
</table>

<br />

<%= link_to 'New Song', new_song_path %>
