<script src="//connect.soundcloud.com/sdk.js"></script>
<script src="https://checkout.stripe.com/v2/checkout.js"></script>

<h1>Listing playlists</h1>


<% @playlists.each do |playlist| %>
<div class="soundcloud" data-soundcloud-url="<%= playlist.soundcloud_url %>">
  <object height="81" width="100%" id="myPlayer" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
   
    <param name="movie" value="http://player.soundcloud.com/player.swf?url=<%= playlist.soundcloud_url %>&enable_api=true&object_id=myPlayer" buying='true' download='true'></param>
    <param name="allowscriptaccess" value="always"></param>
    
    <embed allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=<%= playlist.soundcloud_url%>&enable_api=true&object_id=myPlayer" type="application/x-shockwave-flash" width="100%" name="myPlayer"></embed>
  </object>
  </div>
<% end %>

<%= link_to 'New Playlist', new_playlist_path %>

  <%= current_user.username %>

  <form>
	<input type='text' id='stripeDollars' /> 
  <button type='submit' id="customButton">Help Fund!</button>
  </form>

  <script>
    $('#customButton').click(function(){
      var token = function(res){
        var $input = $('<input type="hidden" name=stripeToken />').val(res.id);
        $('form').append($input).submit();
      };
      var money = $('#stripeDollars').val() * 100;
      console.log(money);
      	
      StripeCheckout.open({
        key:        "<%= Rails.configuration.stripe[:stripe_publishable_key] %>",
        address:     true,
        amount:      money,
        currency:    'usd',
        panelLabel:  'Checkout',
        token:       token
      });
      return false;
    });
  </script>
