<!DOCTYPE html>
<html>
<head>
  <title>Onemusic</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
  <link href='http://fonts.googleapis.com/css?family=Racing+Sans+One' rel='stylesheet' type='text/css'>

Get Started
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul class="ul">
      <li><a href="#">Home</a></li>
      <li><a href="#">Progressive Metal</a></li>
      <li><a href="#">Hip Hop</a></li>
      <li><a href="#">Indie Rock</a></li>
      <li><a href="#">Global Grooves</a></li>
      <li class="registration"><%= link_to "Sign in", new_user_session_path %></li>
      <li class="registration"><%= link_to "Sign up", new_user_registration_path %></li>
      <li class="registration"><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li> 
    </ul>
</div>
  

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
